<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ParkingSystemTerminal.appSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ParkingSystemTerminal.appSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ParkingSystemTerminal.appSettings>
            <setting name="ModeFile" serializeAs="String">
                <value>ParkMode.ini</value>
            </setting>
        </ParkingSystemTerminal.appSettings>
    </applicationSettings>
    <userSettings>
        <ParkingSystemTerminal.appSettings>
            <setting name="QRCodeSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TicketFile" serializeAs="String">
                <value>Ticket.jpg</value>
            </setting>
            <setting name="TicketDateFormat" serializeAs="String">
                <value>d/MM/yyyy HH:mm</value>
            </setting>
            <setting name="Header" serializeAs="String">
                <value>HEADER</value>
            </setting>
            <setting name="Tariff" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingsFile" serializeAs="String">
                <value>ParkSettings.ini</value>
            </setting>
        </ParkingSystemTerminal.appSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
